{% extends 'DyloProdPPSBundle::base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            Salut {{ app.user.username }} !
        </div>
    </div>
{% endblock %}